<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Perfil do Usuário </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="stylePerfil.css" />
</head>
<body>
    
    <!-- Topo -->

    <div class="topo">
        <img src="imgs/logo.png" alt="">
    </div>

    <!--Sidebar-->

    <div class="sidebar">

        <div class="buttons">
            <button> <i class="bi bi-person-vcard"></i> Minha conta </button>
            <button> <i class="bi bi-person-circle"></i> Meu perfil </button>
        </div>

        <div class="compras">
            <fieldset>
            <ul>
                <li>
                    <p id="pComp"> <i class="bi bi-cart2"></i> Compras <i class="bi bi-chevron-down"></i> </p>
                </li>
                <ul>
                    <li> <a href="#"><i class="bi bi-cart2"></i> Compras </a></li>
                    <li> <a href="#"><i class="bi bi-heart"></i> Favoritos </a></li>
                    <li> <a href="#"><i class="bi bi-file-text"></i> Meus pedidos </a></li>
                </ul>
            </ul>
            </fieldset>
        </div>

        <div class="exit"> 
            <p>
               <a href="#"> <i class="bi-box-arrow-left"> Sair</i>
            </a> </p>
        </div>

    </div>

    <!--body-->

    <div class="centerContent">
        <div class="welcome">

            <div class="iconW">
                <p id="icon"> <i class="bi-person-fill"></i> </p>
            </div>
            
            <div class="textW">
                <p id="nome"> Bem-vindo Fulano!</p>
                <p id="email"> <i class="bi bi-envelope"></i> seuemail@exemplo.com </p>
            </div>
        
        </div>
<hr>
        <div class="endereco"> 

            

            <div class="boxEnde">

                <p id="titulo"> <i class="bi bi-geo-alt"></i> Meus endereços </p>
                <fieldset>
                    <p> Endereço Principal </p>
               
                    <p> XXX XXXXXXXXXXXX XXX <br>
                        Número: xxx <br>
                        CEP xxxxxxxx - São Paulo, SP
                    </p>
                </fieldset>
                <br>
            </div>

            <div class="endeBotao">
                <button> <a href="#"> Cadastrar endereço </a></button>
            </div>


        </div>
<hr>
        <div class="atalhos">
 
            <button> <i class="bi bi-file-text"></i> Meus Pedidos </button>
            <button> <i class="bi bi-person-workspace"></i> Atendimento ao Cliente </button>
            <button> <i class="bi bi-heart"></i> Favoritos </button>

        </div>
    </div>










</body>
</html>
