<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>ServletTeste</display-name>
    <servlet-name>ServletTeste</servlet-name>
    <servlet-class>br.com.servlets.testes.ServletTeste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTeste</servlet-name>
    <url-pattern>/ServletTeste</url-pattern>
  </servlet-mapping>
  <display-name>Strument_Store</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CadastroServlet</display-name>
    <servlet-name>CadastroServlet</servlet-name>
    <servlet-class>br.com.servlets.cadastro.CadastroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroServlet</servlet-name>
    <url-pattern>/CadastroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLoginAdm</display-name>
    <servlet-name>ServletLoginAdm</servlet-name>
    <servlet-class>br.com.servlets.ServletLoginAdm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLoginAdm</servlet-name>
    <url-pattern>/ServletLoginAdm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLoginUser</display-name>
    <servlet-name>ServletLoginUser</servlet-name>
    <servlet-class>br.com.servlets.ServletLoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLoginUser</servlet-name>
    <url-pattern>/ServletLoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroUserServlet</display-name>
    <servlet-name>CadastroUserServlet</servlet-name>
    <servlet-class>br.com.servlets.CadastroUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroUserServlet</servlet-name>
    <url-pattern>/CadastroUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdutoServlet</display-name>
    <servlet-name>ProdutoServlet</servlet-name>
    <servlet-class>br.com.servlets.ProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdutoServlet</servlet-name>
    <url-pattern>/ProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPopUp</display-name>
    <servlet-name>ServletPopUp</servlet-name>
    <servlet-class>br.com.servlets.ServletPopUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPopUp</servlet-name>
    <url-pattern>/ServletPopUp</url-pattern>
  </servlet-mapping>
</web-app>