@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

footer {
    background-color: #241711;
    color: white;
    padding: 60px;
    width: 100%;
    margin-top: 120px;
    font-family: "Montserrat", sans-serif;
}

.informacoes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    max-width: 92%;
    margin: 0 auto;
}

.informacoes>div>div {
    display: flex;
    flex-direction: column;
    gap: 9px;

}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

footer img {
    max-width: 70px;
    border-radius: 3px;
    width: 100%;
}

#pag {
    display: flex;
    justify-content: center;
    background: white;
    padding: 10px 5px 10px 5px;
    border-radius: 3px;

    img {
        width: 60px;
    }
}

h1 {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
}


.pagamento .formas_pagamento {
    gap: 5px;
    max-width: 250px;
    flex-wrap: wrap;
    flex-direction: row;
}

#linha {
    width: 92%;
    padding: 0.3px;
    margin: 0 auto;
    background: white;
    margin-top: 40px;
    margin-bottom: 10px;
}

#direitos_reservados {
    font-size: 11px;
    width: 92%;
    margin: 0 auto;
}

.siga-nos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.siga-nos div {
    flex-direction: row !important;
    align-items: center;
    cursor: pointer;

    img {
        width: 30px;
    }

    h1 {
        margin-bottom: 0px;
    }
}


.siga-nos div:hover {
    a {
        text-decoration: underline;
    }
}

@media (max-width: 500px) {
	body{
	background: red;
	}
    .informacoes>div {
        margin-top: 50px;
    }

    #direitos_reservados p {
        text-align: center;
    }

    .pagamento .formas_pagamento {
        gap: 10px;
        max-width: 400px;
    }

    #pag {
        img {
            width: 110px;
        }
    }
}