@charset "UTF-8";
* {
    box-sizing: border-box;
    margin: 0px;
}


@font-face {
    font-family: 'font';
    src: url("../fonts/Montserrat-Medim.ttf");
}

header {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    background-color: #F1DFB3;
    width: 100%;
    height: 12vh;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
    width: 15%;
    margin-top: 30px;
    height: 20vh;
}


.logo img{
	width: 11rem; 
    height: 100%; 
    padding: 10px 0px 0px 0px; 
}

.pesquisar {
    position: relative;
    width: 300px;
}

.pesquisar input[type="text"] {
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffff;
    height: 1vh;
    outline: none;
}

.pesquisar .lupa {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    display: flex;
    align-items: center;
   
}

.pesquisar .lupa img {
    width: 15px;
    height: 15px;
}

.login {
    display: flex;
    align-items: center;
}

.login img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.login-op h5 {
    margin: 0 5px;
}