@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
	font-family:font;
	src: url("../../../fonts/MontserratAlternates-Regular.ttf");
	
}

body{
    height: 100vh;
    display: flex;
    align-items: center;        
}

#total{
    font-weight: bold;
}

.container_vendas{
	font-family:font;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    background-color: #F1DFB3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0px 50px 0px;
    gap: 20px;
    border-radius: 12px;
}

.container_vendas > p{
    font-size: 30px;
    font-weight: bold;
}

table{
    background-color: black;
    color: white;
    max-width: 700px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 20px;
}

td{
    padding: 10px;
}
table tr + tr{
    background-color: rgb(255, 250, 250);
    color: black;
}