* {
    margin: 0px;
}

body {
    background-color: #d9d9d9;
}

a{
	color: black;
}

main {
    display: flex;
    background-color: #fff;
    margin: 2em;
}

article{
    display: flex;
    flex-direction: row;
}

.parede-cabecalho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F1DFB3;

    text-align: center;

    width: 100%;
}

.logo{
    
    display: flex;
    flex-direction: column;

    align-items: center;
    margin-top: 2.5em;

    img{
        height: 150px;
        width: 290px;
    }
}

.row{

    display: flex;
    flex-direction: row;

    margin-top: 12%;
    
    h2{
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 1.2em;

        margin-left: 1em;
        cursor: pointer;
    }

    img{
        height: 2%;
        width: 30px;

        margin-left: 2em;
        margin-bottom: 1em;
    }

    h2:hover{
        transform: scale(1.1);
        border-bottom: 2px solid #241711;
    }
}

.row-exit{

    display: flex;
    flex-direction: row;
    
    margin-top: 50%;

    h2{
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 1.2em;

        margin-left: 1em;
        cursor: pointer;
    }

    img{
        height: 60%;
        width: 30px;

        margin-left: 2em;
        margin-bottom: 1.3em;
    }
}


.container{
	display: flex;
	flex-direction: row;
	margin-left: 2em;
	min-width: 100%;
	font-family: "Montserrat";
    font-weight: normal;
}
.titulo > p {
    padding-bottom: 5px;
    font-size: 25px;
}

.info .titulo #underline{
    width: 270px;
    height: 2px;
    padding: 0px;
    background-color: black;
} 

.titulo{
    display: flex;
    flex-direction: column !important;
    gap: 0 !important;
    padding-bottom: 40px;
}

img{
    width: 25px;
}

.info > div {
    display:flex ;
    justify-content: space-between;
    gap: 15px;
}

.info div > div{
    background-color: #D9D9D9;
    padding: 8px;
    border-radius: 100vh;
}

input{
    width: 100%;
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 15px;
    padding: 8px;
    padding-left: 10px;
}

.info{
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    padding-top: 60px;
}

#pes{
    text-align: center;
    border: none;
    background-color: #F1DFB3;
    padding: 13px;
    cursor: pointer;
    transition: 0.5s;
}

#pes:hover{
	opacity: 80%;
	transition: 0.5s;
}

.container_v{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.vendas{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 20px;
	font-size: 20px;
	height: 75%;
}

.vendas .total{
	
	display: flex;
	justify-content: space-between;
	background-color: #F1DFB3;
			
	width: 100%;
	padding: 5px;
	border-radius: 4px;
}


.vendas table td{
	text-align: center;
	padding: 7px;
}

.vendas table tr:nth-child(1){
	color: white;
	background-color: black;
}
	
.vendas table tr form input{
	border-radius: 2px;
	border: none;
	color: white;
	background: black;
	cursor: pointer;
	transition: 0.3s;
}
.vendas table tr form input:hover{
	transition: 0.3s;
	background-color: #F1DFB3;
	color: black;
	
}

/*pop-up*/

#total{
    font-weight: bold;
}

.container_vendas{
	margin-left: 250px;
    max-width: 800px;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0px 50px 0px;
    gap: 20px;
    border-radius: 12px;
    font-family: "Montserrat";
        
}


.titulo_voltar{
	display: flex;
	justify-content: space-between;
	width: 50%;
}

.titulo_voltar form input{
	border: none;
	color: white;
	background: black;
	cursor: pointer;
	transition: 0.3s;
	
}

.titulo_voltar form input:hover{
	transition: 0.3s;
	background-color: #F1DFB3;
	color: black;
}
.container_vendas div > p{
    font-size: 30px;
    font-weight: bold;
}

table{
    background-color: black;
    color: white;
    max-width: 700px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 20px;
}

td{
    padding: 10px;
}
table tr + tr{
    background-color: rgb(255, 250, 250);
    color: black;
}	