* {
    margin: 0px;
}

body {
    background-color: #d9d9d9;
}

main {
    display: flex;
    background-color: #fff;
    margin: 2em;
}

article{
    display: flex;
    flex-direction: row;
}

.parede-cabecalho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F1DFB3;

    text-align: center;

    width: 100%;
    color:black !important;
}

.parede-cabecalho h2 > a{
	color:black !important;
}

.logo{
    
    display: flex;
    flex-direction: column;

    align-items: center;
    margin-top: 2.5em;

    img{
        height: 150px;
        width: 290px;
    }
}

.row{

    display: flex;
    flex-direction: row;

    margin-top: 12%;
    
    h2{
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 1.2em;

        margin-left: 1em;
        cursor: pointer;
        color: black;
    }

    img{
        height: 2%;
        width: 30px;

        margin-left: 2em;
        margin-bottom: 1em;
    }

    h2:hover{
        transform: scale(1.1);
        border-bottom: 2px solid #241711;
    }
}

.row-exit{

    display: flex;
    flex-direction: row;
    
    margin-top: 50%;

    h2{
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 1.2em;

        margin-left: 1em;
        cursor: pointer;
    }

    img{
        height: 60%;
        width: 30px;

        margin-left: 2em;
        margin-bottom: 1.3em;
    }
}